html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: #484848;
}

a {
  text-decoration: none;
  color: #3FAFAF;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
